 .u-section-1 {
  background-image: url("images/SOL_blur.png");
}

.u-section-1 .u-sheet-1 {
  min-height: 725px;
}

.u-section-1 .u-list-1 {
  margin-bottom: 60px;
  margin-top: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 375px;
}

.u-section-1 .u-image-1 {
  background-image: url("images/gradientbg.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-image-2 {
  width: 80px;
  height: 80px;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 12px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 8px auto 0;
}

.u-section-1 .u-text-3 {
  font-style: italic;
  margin: 0 auto;
}

.u-section-1 .u-image-3 {
  background-image: url("images/gradientbg.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-image-4 {
  width: 80px;
  height: 80px;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 12px auto 0;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 8px auto 0;
}

.u-section-1 .u-text-6 {
  font-style: italic;
  margin: 0 auto;
}

.u-section-1 .u-image-5 {
  background-image: url("images/gradientbg.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-image-6 {
  width: 80px;
  height: 80px;
  margin: 0 auto;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 12px auto 0;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  margin: 8px auto 0;
}

.u-section-1 .u-text-9 {
  font-style: italic;
  margin: 0 auto;
}

.u-section-1 .u-image-7 {
  background-image: url("images/gradientbg.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px;
}

.u-section-1 .u-image-8 {
  width: 80px;
  height: 80px;
  margin: 0 auto;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 12px auto 0;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  margin: 8px auto 0;
}

.u-section-1 .u-text-12 {
  font-style: italic;
  margin: 0 auto;
}

.u-section-1 .u-image-9 {
  background-image: url("images/gradientbg.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px;
}

.u-section-1 .u-image-10 {
  width: 80px;
  height: 80px;
  margin: 0 auto;
}

.u-section-1 .u-text-13 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 12px auto 0;
}

.u-section-1 .u-text-14 {
  font-weight: 700;
  margin: 8px auto 0;
}

.u-section-1 .u-text-15 {
  font-style: italic;
  margin: 0 auto;
}

.u-section-1 .u-image-11 {
  background-image: url("images/gradientbg.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-6 {
  padding: 10px;
}

.u-section-1 .u-image-12 {
  width: 80px;
  height: 80px;
  margin: 0 auto;
}

.u-section-1 .u-text-16 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 12px auto 0;
}

.u-section-1 .u-text-17 {
  font-weight: 700;
  margin: 8px auto 0;
}

.u-section-1 .u-text-18 {
  font-style: italic;
  margin: 0 auto;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 598px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 310px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 458px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 541px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 344px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 217px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 30px;
} .u-section-3 {
  background-image: url("images/SOL_blur.png");
}

.u-section-3 .u-sheet-1 {
  min-height: 558px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-style: italic;
  margin: 25px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 800px;
  margin: 20px auto 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 275px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 23px;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 4px;
}

.u-section-3 .u-text-3 {
  margin: 24px 4px 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 137px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 137px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 137px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 137px;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 275px;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 460px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1392px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 247px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 247px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 247px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 247px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 495px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2118px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 371px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 371px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 371px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 371px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 371px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1316px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 234px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 234px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 234px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 234px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 234px;
  }
}